.skills {
    display: flex;
    justify-content: center;
    padding: 0.3rem 0;
    align-items: center;
    margin: 0.7rem;
    transition: all 0.8s;
    width: 90%;
    border-radius: 11.875rem;
    background: rgba(255, 255, 255, 0.51);
  }