.project {
  background-color: red;
  overflow: hidden;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  .main-info-project {
    height: 83%;
    background-size: cover;
  }
  .project--items {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
.project-content {
  background-color: white;
  margin-bottom: 0.5rem;
  width: 85px;
  height: 35px;
  border-radius: 10px;
}
.project--fav {
  font-family: 'RobotoMedium';
  display: flex;
  justify-content: center;
  align-items: center;
}
.project--tech {
  display: flex;
  justify-content: center;
  align-items: center;
  &--item {
    display: flex;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
.project--name {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}
.project-fav-amount {
  margin-right: 0.3rem;
}
