// Copyright 2020 Fazt Community ~ All rights reserved. MIT license.

@import '@assets/scss/variables';

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #ffffff;

  &__light {
    box-shadow: 0 2px 4px #cccccc;
    background-color: $text-primary-color;
  }

  &__dark {
    background-color: $night-color;
  }

  &__list {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: right;
  }

  &__item {
    display: inline-block;
    float: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 10px;
      float: left;
    }
  }

  &__link {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    padding: 15px 20px;
    transition: color 0.3s ease-in-out;

    &__light {
      color: $night-color;
      &:hover {
        color: $primary-color;
      }
    }

    &__dark {
      color: #fff;
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__logo {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 30px;
    margin-left: -40px;
    box-shadow: 0 0 0px 8px #ffffff;
    border-radius: 80px;
  }
}
